@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: theme('colors.orange');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cart {
  @apply absolute bg-orange right-0 rounded border-black w-full md:w-6/12 shadow-2xl p-4;
}

.cart-buttons {
  @apply bg-transparent border border-black text-black px-4 py-2 mx-2 hover:bg-black hover:text-white active:bg-black hover:text-white;
}

.notification {
  @apply w-full bg-success flex justify-between items-center p-2 px-40 text-white flex-wrap;
}

.notification h2, .notification p {
  @apply text-base m-0;
}

.error {
  background-color: theme('colors.error');
}

.success {
  background-color: theme('colors.success');
}